* text=auto

*.py text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.githooks/* text eol=lf
web/src/generated/*.ts text eol=lf
*.ps1 text eol=crlf
*.txt text eol=lf

*.gz binary
*.sqlite3 binary
*.whl binary
